In [2]:
import datetime
import time
import os
import sys
import pytz
from pathlib import Path

import numpy as np
import pandas as pd

import astroplan
import skyfield

import astropy.units as u

from astropy.coordinates import EarthLocation
from astropy.time import Time

from skyfield import api
from skyfield import almanac

import matplotlib
from matplotlib import style
style.use('ggplot')
import matplotlib.pyplot as plt

In [3]:
%load_ext autoreload
%autoreload 2
%matplotlib widget

ts = api.load.timescale()
e = api.load('de421.bsp')
tz = pytz.timezone("America/Phoenix")

In [4]:
def nearest_minute(dt):
    # USNO predictions round to nearest minute so we use this hack to follow that
    return (dt + datetime.timedelta(seconds=30)).replace(second=0, microsecond=0)

In [5]:
lat = "31:41:19.6"
lon = "-110:53:04.4"
elevation = 2600 * u.m
location = EarthLocation.from_geodetic(lon, lat, elevation)
mmt = astroplan.Observer(name="MMTO", location=location, timezone="US/Arizona", pressure=0*u.mbar)
tset = mmt.sun_set_time(Time(datetime.datetime.now()), which='next', horizon=-0.8333*u.deg)
tset.isot

'2019-12-20T00:23:04.357'

In [6]:
mmt_sf = api.Topos(latitude_degrees=location.lat.value, longitude_degrees=location.lon.value, elevation_m=2600.0)

In [7]:
year = 2019

# get new moons bracketing requested year
t0 = ts.utc(year-1, 11, 1)
t1 = ts.utc(year+1, 3, 1)
phase_times, phase_flags = almanac.find_discrete(t0, t1, almanac.moon_phases(e))
newmoons = phase_times[phase_flags == 0]

date_range = pd.date_range(start=f"1/1/{year}", end=f"1/31/{year}", tz=tz)
usno_horizon = -(5/6) * u.deg
horizons = {
    "6 Deg": -6 * u.deg,
    "12 Deg": -12 * u.deg,
    "18 Deg": -18 * u.deg
}

header1 = f"     {year}          Sun     Sun     Sun    RA 3H                RA 3H    Sun     Sun     Sun               Moon    Moon   Moon @ Midnight"
header2 = " Date    Sunset   6 Deg   12 Deg  18 Deg  West at  Sid Time    East at 18 Deg  12 Deg  6 Deg  Sunrise     rise    set    Illum     Age  "
header3 = "                  W Hrz   W Hrz   W Hrz   18 Deg   Midnight    18 Deg  E Hrz   E Hrz   E Hrz                               %       Days\n"

print(header1)
print(header2)
print(header3)
for d in date_range:
     # almanac day is MST, but its night falls into the next day in UT
    night_start = Time(f"{str(d.date())} 00:00:00") + 1 * u.day
    
    d_str = d.date().strftime("%b %d")
    
    tset = mmt.sun_set_time(night_start, which='next', horizon=usno_horizon)
    tset_str = nearest_minute(tset.to_datetime(timezone=tz)).strftime("%-H %M")
    tset_twilights = {}
    for k, h in horizons.items():
        tset_twilights[k] = mmt.sun_set_time(night_start, which='next', horizon=h)
        
    eve_str = ""
    for t in tset_twilights:
        eve_str += nearest_minute(tset_twilights[t].to_datetime(timezone=tz)).strftime("%-H %M")
        eve_str += "   "

    ra3_west = tset_twilights['18 Deg'].sidereal_time(kind='apparent', longitude=mmt.location.lon) - 3 * u.hourangle + (30/3600) * u.hourangle  # add 30 sec to round to nearest minute
    ra3_west = ra3_west.wrap_at(24 * u.hourangle)
    ra3_west_str = "{:02d} {:02d}".format(int(ra3_west.hms.h), int(ra3_west.hms.m))
    
    # set up local midnight for the date we're calculating
    midnight = Time(f"{str(d.date())} 07:00:00") + 1 * u.day
    midnight_st = (Time(f"{str(d.date())} 07:00:00") + 1 * u.day).sidereal_time(kind='apparent', longitude=mmt.location.lon).to_string(sep=' ', precision=0)

    trise = mmt.sun_rise_time(night_start, which='next', horizon=usno_horizon)
    trise_str = nearest_minute(trise.to_datetime(timezone=tz)).strftime("%-H %M").format("{:5s}")
    trise_twilights = {}
    for k, h in horizons.items():
        trise_twilights[k] = mmt.sun_rise_time(night_start, which='next', horizon=h)
         
    ra3_east = trise_twilights['18 Deg'].sidereal_time(kind='apparent', longitude=mmt.location.lon) + 3 * u.hourangle + (30/3600) * u.hourangle  # add 30 sec to round to nearest minute
    ra3_east = ra3_east.wrap_at(24 * u.hourangle)
    ra3_east_str = "{:02d} {:02d}".format(int(ra3_east.hms.h), int(ra3_east.hms.m))

    morn_str = ""
    for t in list(trise_twilights.keys())[::-1]:
        morn_str += nearest_minute(trise_twilights[t].to_datetime(timezone=tz)).strftime("%-H %M")
        morn_str += "    "
    
    moon_rise = mmt.moon_rise_time(night_start, which='next', horizon=usno_horizon)
    moon_set = mmt.moon_set_time(night_start, which='next', horizon=usno_horizon)

    if moon_rise < trise and moon_rise > tset:
        mr_str = nearest_minute(moon_rise.to_datetime(timezone=tz)).strftime("%-H %M")
    else:
        mr_str = "     "
    if moon_set > tset and moon_set < trise:
        ms_str = nearest_minute(moon_set.to_datetime(timezone=tz)).strftime("%-H %M")
    else:
        ms_str = "     "
    
    moon_ill = "{:3d}".format(int(round(100 * mmt.moon_illumination(midnight))))
    newmoon_diff = midnight.to_datetime(timezone=pytz.utc) - newmoons.utc_datetime()
    nearest = abs(newmoon_diff).argmin()
    age = newmoon_diff[nearest].total_seconds()/86400
    age_str = "{:5.1f}".format(age)
    #print(f"{d_str}    {tset_str}   {eve_str}{ra3_west_str}     {midnight_st}    {ra3_east_str}   {morn_str}{trise_str}     {mr_str}   {ms_str}   {moon_ill}    {age_str}")
    outstr = "{:6s}    {:5s}   {:24s}{:5s}     {:8s}    {:5s}   {:24s}{:5s}     {:5s}   {:5s}   {:3s}     {:5s}".format(
        d_str,
        tset_str,
        eve_str,
        ra3_west_str,
        midnight_st,
        ra3_east_str,
        morn_str,
        trise_str,
        mr_str,
        ms_str,
        moon_ill,
        age_str
    )
    print(outstr)

     2019          Sun     Sun     Sun    RA 3H                RA 3H    Sun     Sun     Sun               Moon    Moon   Moon @ Midnight
 Date    Sunset   6 Deg   12 Deg  18 Deg  West at  Sid Time    East at 18 Deg  12 Deg  6 Deg  Sunrise     rise    set    Illum     Age
                  W Hrz   W Hrz   W Hrz   18 Deg   Midnight    18 Deg  E Hrz   E Hrz   E Hrz                               %       Days

Jan 01    17 31   17 58   18 28   18 58   22 20     6 22 59     15 21   5 57    6 26    6 57    7 24      4 18             13      -3.8
Jan 02    17 32   17 59   18 29   18 58   22 25     6 26 55     15 25   5 57    6 27    6 57    7 24      5 15              7      -2.8
Jan 03    17 32   17 59   18 30   18 59   22 29     6 30 52     15 29   5 57    6 27    6 57    7 24      6 10              3      -1.8
Jan 04    17 33   18 00   18 30   19 00   22 34     6 34 49     15 33   5 58    6 27    6 57    7 24      7 02              1      -0.8
Jan 05    17 34   18 01   18 31   19 01   22 38     6 38 45     15 37   5 58    6 27    6 57    7 24                        0       0.2
Jan 06    17 35   18 01   18 32   19 01   22 43     6 42 42     15 42   5 58    6 27    6 58    7 24              18 21     1       1.2
Jan 07    17 36   18 02   18 32   19 02   22 48     6 46 38     15 46   5 58    6 28    6 58    7 24              19 14     4       2.2
Jan 08    17 36   18 03   18 33   19 03   22 52     6 50 35     15 50   5 58    6 28    6 58    7 24              20 08     9       3.2
Jan 09    17 37   18 04   18 34   19 03   22 57     6 54 31     15 54   5 58    6 28    6 58    7 24              21 02    15       4.2
Jan 10    17 38   18 05   18 35   19 04   23 02     6 58 28     15 58   5 58    6 28    6 58    7 24              21 55    23       5.2
Jan 11    17 39   18 05   18 36   19 05   23 07     7 02 24     16 02   5 58    6 28    6 58    7 24              22 48    31       6.2
Jan 12    17 40   18 06   18 36   19 06   23 11     7 06 21     16 06   5 58    6 28    6 58    7 24              23 43    40       7.2
Jan 13    17 41   18 07   18 37   19 06   23 16     7 10 18     16 10   5 58    6 28    6 58    7 24              0 38     50       8.2
Jan 14    17 42   18 08   18 38   19 07   23 21     7 14 14     16 13   5 58    6 28    6 57    7 24              1 35     60       9.2
Jan 15    17 42   18 09   18 39   19 08   23 25     7 18 11     16 17   5 58    6 27    6 57    7 24              2 35     70      10.2
Jan 16    17 43   18 10   18 39   19 09   23 30     7 22 07     16 21   5 58    6 27    6 57    7 23              3 38     80      11.2
Jan 17    17 44   18 10   18 40   19 10   23 35     7 26 04     16 25   5 58    6 27    6 57    7 23              4 43     88      12.2
Jan 18    17 45   18 11   18 41   19 10   23 40     7 30 00     16 29   5 58    6 27    6 57    7 23              5 48     95      13.2
Jan 19    17 46   18 12   18 42   19 11   23 44     7 33 57     16 32   5 58    6 27    6 56    7 22              6 51     99      14.2
Jan 20    17 47   18 13   18 43   19 12   23 49     7 37 53     16 36   5 57    6 26    6 56    7 22                      100     -14.6
Jan 21    17 48   18 14   18 44   19 13   23 54     7 41 50     16 40   5 57    6 26    6 56    7 22      18 40            98     -13.6
Jan 22    17 49   18 15   18 44   19 13   23 58     7 45 47     16 44   5 57    6 26    6 55    7 21      19 51            94     -12.6
Jan 23    17 50   18 16   18 45   19 14   00 03     7 49 43     16 47   5 57    6 26    6 55    7 21      21 00            86     -11.6
Jan 24    17 51   18 17   18 46   19 15   00 08     7 53 40     16 51   5 56    6 25    6 55    7 21      22 07            77     -10.6
Jan 25    17 52   18 17   18 47   19 16   00 13     7 57 36     16 54   5 56    6 25    6 54    7 20      23 11            67      -9.6
Jan 26    17 52   18 18   18 48   19 17   00 17     8 01 33     16 58   5 55    6 24    6 54    7 20      0 14             56      -8.6
Jan 27    17 53   18 19   18 48   19 17   00 22     8 05 29     17 02   5 55    6 24    6 53    7 19      1 14             46      -7.6
Jan 28    17 54   18 20   18 49   19 18   00 27     8 09 26     17 05   5 55    6 24    6 53    7 18      2 13             36      -6.6
Jan 29    17 55   18 21   18 50   19 19   00 32     8 13 22     17 09   5 54    6 23    6 52    7 18      3 10             26      -5.6
Jan 30    17 56   18 22   18 51   19 20   00 36     8 17 19     17 12   5 54    6 23    6 52    7 17      4 06             18      -4.6
Jan 31    17 57   18 23   18 52   19 21   00 41     8 21 16     17 15   5 53    6 22    6 51    7 17      4 59             11      -3.6

In [42]:
tset.to_datetime(timezone=tz)

datetime.datetime(2019, 1, 9, 17, 37, 15, 591415, tzinfo=<DstTzInfo 'America/Phoenix' MST-1 day, 17:00:00 STD>)

In [47]:
str(d.date())

'2019-01-10'

In [82]:
t_test = Time(f"{str(d.date())} 07:00:00")
t3 = t_test.sidereal_time(kind='apparent', longitude=mmt.location.lon) + 3 * u.hourangle + (30/3600) * u.hourang

In [83]:
f"{int(t3.hms.h)} {int(t3.hms.m)}"

'9 55'

In [86]:
t1 = d.date()

In [90]:
t1.strftime("%b %d")

'Jan 10'

In [112]:
a = tset_twilights['18 Deg'].sidereal_time(kind='apparent', longitude=mmt.location.lon) - 3 * u.hourangle + (30/3600) * u.hourangle
a.wrap_at(24 * u.hourangle)

In [116]:
a.to_string(sep=' ', precision=0)

'-0 57 39'

In [129]:
l = list(trise_twilights.keys())
l.reverse()
l

['18 Deg', '12 Deg', '6 Deg']

In [203]:
diff = midnight.to_datetime(timezone=pytz.utc) - newmoons.utc_datetime()
idx = abs(diff).argmin()
age = diff[idx]
age

datetime.timedelta(days=5, seconds=19908, microseconds=779000)

In [205]:
age.total_seconds()/86400

5.23042568287037

In [207]:
24*3600

86400

In [222]:
delta = -age.total_seconds()/86400

In [223]:
"{:5.1f}".format(delta)

' -5.2'

In [11]:
newmoons

In [14]:
[t.utc_iso() for t in newmoons]

['2018-11-07T16:02:02Z',
 '2018-12-07T07:20:21Z',
 '2019-01-06T01:28:11Z',
 '2019-02-04T21:03:35Z',
 '2019-03-06T16:03:58Z',
 '2019-04-05T08:50:29Z',
 '2019-05-04T22:45:30Z',
 '2019-06-03T10:01:57Z',
 '2019-07-02T19:16:13Z',
 '2019-08-01T03:11:55Z',
 '2019-08-30T10:37:09Z',
 '2019-09-28T18:26:22Z',
 '2019-10-28T03:38:28Z',
 '2019-11-26T15:05:35Z',
 '2019-12-26T05:13:08Z',
 '2020-01-24T21:42:00Z',
 '2020-02-23T15:32:01Z']

In [15]:
t1 = Time("2019-11-26T15:05:35Z")
t2 = Time("2019-12-11T07:00:00Z")

In [16]:
t1 - t2