In [1]:
from mmt_almanac.ascii import ascii_night, TBL_HDR, night_header, page_header
from mmt_almanac.almanac import nightly_almanac
import pandas as pd

In [2]:
ascii_night()

'Dec 29    17 29   17 56   18 26   18 56   22 08     6 13 11     15 10   5 56   6 26   6 56      7 23                      100     -13.9\n'

In [3]:
print(f"{TBL_HDR.format(2020)}")

2020          Sun     Sun     Sun    RA 3H                RA 3H    Sun     Sun     Sun               Moon    Moon   Moon at Midnight
 Date    Sunset   6 Deg   12 Deg  18 Deg  West at  Sid Time    East at 18 Deg  12 Deg  6 Deg  Sunrise     rise    set    Illum     Age
                  W Hrz   W Hrz   W Hrz   18 Deg   Midnight    18 Deg  E Hrz   E Hrz   E Hrz                               %       Days

In [4]:
print(night_header())

2021          Sun     Sun     Sun    RA 3H                RA 3H    Sun     Sun     Sun               Moon    Moon   Moon at Midnight
 Date    Sunset   6 Deg   12 Deg  18 Deg  West at  Sid Time    East at 18 Deg  12 Deg  6 Deg  Sunrise     rise    set    Illum     Age
                  W Hrz   W Hrz   W Hrz   18 Deg   Midnight    18 Deg  E Hrz   E Hrz   E Hrz                               %       Days

In [5]:
print(page_header())

Observer's Almanac -- 2021 -- MMT Observatory
                                Latitude=+31d 41m 19.6s  Longitude= 110d 53m 04.4s
                                    Elevation=2600 m (8585 ft)  Time Zone=+7h
                                        Generated on: December 29, 2020

In [6]:
r = pd.date_range(start="1/1/2021", end="2/1/2021")[:-1]

In [7]:
ascii_night(nightly_almanac(r[1]))

'Jan 01    17 31   17 58   18 28   18 58   22 22     6 25 01     15 22   5 57   6 27   6 57      7 24      20 11            89     -10.9\n'